
.content-sty{
    padding: 24px;
    width:80vw;
    margin:0px auto;
    .type-title{
        display: flex;
        align-items: center;
        margin: 0 auto;
        font-size: 30px;
        line-height: 45px;
        font-weight: 500;
        margin-bottom: 24px;
        color: #314659;
    }
    .card-sty {
    }
}
.toptab-sty{
     padding: '20px';
 .Anchor-sty{
   margin: 0 auto;
    text-align: center;    
    margin-bottom: 20px;
    background: #fff;
    // width: 80vw;
 }

}
.custom-menu-item {
    &.ant-menu-item-selected {
      background-color: transparent !important; // 保持背景色透明
      color: #1890ff; // 改变选中项的文字颜色，可按需修改
      border-bottom: 2px solid #1890ff; // 添加下划线，可按需修改
    }
  }
